{% extends "layouts/main_layout.html" %}

{% block content %}
<div class="ui huge header">This is GitCube help</div>
<div class="ui accordion">
  <div class="active title"><i class="dropdown icon"></i> What is GitCube? </div>
  <div class="active content">
    <p>GitCube is a rust git service.</p>
  </div>
  <div class="title"><i class="dropdown icon"></i> Why the name of project is GitCube? </div>
  <div class="content">
    <p>I like game Minecraft, so I call the project as GitCube.</p>
  </div>
</div>
{% endblock content %}