{% extends "layouts/main_layout.html" %}

{% block title %}
home - GitCube
{% endblock title %}

{% block content %}
<div class="ui vertical stripe segment">
    <div class="ui text container">
        <h1 class="ui header">
            GitCube
        </h1>
        <h2>A painless, self-hosted Git service</h2>
        <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
</div>

<div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
                <h3>"Rust Git Service"</h3>
                <p></p>
            </div>
            <div class="column">
                <h3>"Easy to install"</h3>
                <p>
                    
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}