{% extends "profile.html" %}


{% block overview %}
<div class="ui top attached tabular menu">
    <a class="item" href="/{{user_fullname}}">Overview</a>
    <a class="active item" href="/{{user_fullname}}?tab=repositories">Repositories</a>
    <a class="item" href="/{{user_fullname}}?tab=stars">Stars</a>
    <a class="item" href="/{{user_fullname}}?tab=followers">Followers</a>
    <a class="item" href="/{{user_fullname}}?tab=following">Following</a>
</div>
<div class="ui bottom attached active tab segment">
    <div class="ui relaxed divided list">
        {% for repo in cur_user_repositories %}
        <div class="item">
            <div class="content">
                <a class="ui middle header" href="/{{cur_user_fullname}}/{{repo.name}}">
                    {{repo.name}}
                    <div class="sub header">
                        {{repo.description}}
                    </div>
                </a>
                <div class="ui horizontal list">
                    <a href="#" class="item">
                        <img src="assets/octicons-8.1.0/package/build/svg/star.svg" height="17" />
                        Star
                    </a>
                    <a href="#" class="item">
                        <img src="assets/octicons-8.1.0/package/build/svg/git-branch.svg" height="17" />
                        Fork
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock overview %}