{% extends "layouts/main_layout.html" %}

{% block title %} {{cur_user.fullname}} - GitCube {% endblock title %}

{% block css %}
<style type="text/css">
    .ui.container.tab_header>.menu{
        border-bottom:none;
    }
    .ui.container.tab_header{
        margin-bottom:0px;
        border-bottom:none;
    }
    .ui.divider.tab_divider{
        margin-top:0px;
        border-bottom:none;
    }
</style>
{% endblock css %}

{% block content %}
<div>
    <div>
        <div class="ui container">
            <div class="ui grid">
                <div class="row">
                    <div class="left floated four wide column">
                        <div class="ui big breadcrumb">
                            <a class="section" href="/{{cur_user.fullname}}">{{cur_user.fullname}}</a>
                            <div class="divider"> / </div>
                            <a class="section" href="/{{cur_user.fullname}}/{{cur_repo.name}}">{{cur_repo.name}}</a>
                        </div>
                    </div>
                    <div class="right floated six wide column">
                        <div class="ui item">
                            <div class="ui labeled button" tabindex="0">
                                <a class="ui basic button" href="#">
                                    Watch
                                </a>
                                <a class="ui basic label" href="#">
                                    1
                                </a>
                            </div>
                            <div class="ui labeled button" tabindex="0">
                                <a class="ui basic button" href="#">
                                    Star
                                </a>
                                <a class="ui basic label" href="#">
                                    0
                                </a>
                            </div>
                            
                            <div class="ui labeled button" tabindex="0">
                                <a class="ui basic button poping up" href="#">
                                    Fork
                                </a>
                                <a class="ui basic label" href="#">
                                    0
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="right floated six wide column">
                        <div class="ui action input">
                            <input type="text" value="http://{{ROOT_URL}}/{{cur_user.fullname}}/{{cur_repo.name}}.git" readonly>
                            <select class="ui compact selection dropdown">
                                <option selected="" value="http">http</option>
                                <option value="ssh">ssh</option>
                            </select>
                            <button class="ui teal icon button">
                                <i class="copy icon"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui container tab_header">
            <div class="ui tabular menu">
                <div class="active item">Code</div>
            </div>
        </div>
        <div class="ui divider tab_divider" style="border-bottom:none;"></div>
    </div>

    <div class="ui container">
    {% if not files %}
        <h1 class="ui header">
            Empty Repository
        </h1>
    {% else %}
        <div class="ui grid">
            <div class="row">
                <div class="left floated four wide column">
                    <div class="ui floating dropdown icon button">
                        <img src="/assets/octicons-8.1.0/package/build/svg/git-branch.svg" height="14"/>
                        <span class="text">select branch</span>
                        <div class="menu">
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input type="text" placeholder="Search branches...">
                            </div>
                            <div class="divider"></div>
                            <div class="header">
                            <i class="tags icon"></i>
                            branches
                            </div>
                            <div class="scrolling menu">
                                {% for branch in branch_list %}
                                <div class="item">
                                    {{branch.name}}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="ui single line table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>commit</th>
                    <th class="right aligned">time</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files.entries %}
                <tr>
                    <td>{{file.name}}</td>
                    <td>...</td>
                    <td class="right aligned">...</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    {% endif %}
    </div>

</div>

{% endblock overview %}
