{% extends "org/profile.html" %}


{% block tabview %}
<div class="ui container tab_header">
    <div class="ui tabular menu">
        <a class="active item" href="/{{cur_org_fullname}}?tab=repositories">Repositories</a>
        <a class="item" href="/{{cur_org_fullname}}?tab=peaple">People</a>
        <a class="item" href="/{{cur_org_fullname}}?tab=teams">Teams</a>
        <a class="item" href="/{{cur_org_fullname}}?tab=projects">Projects</a>
    </div>
</div>
<div class="ui divider tab_divider" style="border-bottom:none;"></div>

<div class="ui container">
    <div class="ui relaxed divided list">
        {% for repo in cur_org_repositories %}
        <div class="item">
            <div class="content">
                <a class="ui middle header" href="/{{cur_org_fullname}}/{{repo.name}}">
                    {{repo.name}}
                    <div class="sub header">
                        {{repo.description}}
                    </div>
                </a>
                <div class="ui horizontal list">
                    <a href="#" class="item">
                        <img src="assets/octicons-8.1.0/package/build/svg/star.svg" height="17" />
                        Star
                    </a>
                    <a href="#" class="item">
                        <img src="assets/octicons-8.1.0/package/build/svg/git-branch.svg" height="17" />
                        Fork
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock tabview %}