{% extends "user/profile.html" %}


{% block tabview %}
<div class="ui container tab_header">
    <div class="ui tabular menu" style="min-width: 830px;">
        <a class="active item" href="/{{user_fullname}}">Overview</a>
        <a class="item" href="/{{user_fullname}}?tab=repositories">Repositories</a>
        <a class="item" href="/{{user_fullname}}?tab=stars">Stars</a>
        <a class="item" href="/{{user_fullname}}?tab=followers">Followers</a>
        <a class="item" href="/{{user_fullname}}?tab=following">Following</a>
    </div>
</div>
<div class="ui divider tab_divider" style="border-bottom:none;"></div>
<div class="ui container" style="min-width: 830px;">
    <div class="ui grid">
        <div class="ui centered column">
            <h2 class="ui header">
                Activity
            </h2>
            <div id="cal-heatmap" class="twelve wide column" style="min-width: 660px;"></div>
        </div>
    </div>
</div>

{% endblock tabview %}

{% block cal_heatmap %}
<script type="text/javascript">
	var cal = new CalHeatMap();
    cal.init({ itemSelector: "#cal-heatmap",
        domain: "year",
        subDomain: "day",
        data: "datas-years.json",
        cellSize: 10,
        range: 1,
        legend: [20, 40, 60, 80]});
</script>
{% endblock cal_heatmap %}